body{
    background-color: rgb(250, 253, 255);

}
#head {
    background-color: red;
    width: 900px;
    height: 100px;
    border-radius: 20px;
    margin: 0 auto;}
#head > div {
    height: 100%;
    width: 50%;
    margin: 0 auto;
    padding-top: 2%;
    font-size: 50px;
    color: aliceblue;
}
#phone {
    width: 900px;
    height: 1800px;
    background-color: #616161;
    margin: 0 auto;
    margin-top: 36px;
    padding: 1%;
    border-radius: 50px;
   
}
#screen_hadwer {
    width: 90%;
    height: 30%;
    margin: 0 45px; 
    margin-top: 36px;  
    
}
#screen_hadwer > div  {
    width: 100%;
    height: 100%; 
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    margin: 0 auto;
}
#screen {
    width: 90%;
    height: 90%;
    border-radius: 30px;
    float: left;
    margin: 0 5%;
    margin-top: 3%;
}
#keybroud {
    width: 90%;
    height: 65% ;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 30px;
    overflow: hidden;
}
#keybroud_123 > div {
    width: 120px;
    height: 100px;
    font-size: 80px;
    float: left; 
    margin: 70px 75px;
    background-color: rebeccapurple;
    text-align: center;
    border-radius: 33px;
    color: #fff;
}
#keybroud > div > :hover {
    background: #ffffff;
    color: #fff;
    background-color:red;
}
#home {
    margin: 37px 5%;
    overflow: inherit;
    width: 100%;
    border-radius: 77px;
    height: 16%;
}
#home > div {
    width: 29%;
    height: 100%;
    background: rgb(0, 4, 255);
    color: rgb(255, 255, 255);
    font-size: 49px;
    text-align: center;
    border-radius: 78px;
    float: left;
}
